
.icon-phone:before { content: '\e800'; } /* '' */
.icon-icon-calc:before { content: '\e80b'; } /* '' */
.icon-icon-home:before { content: '\e80c'; } /* '' */
.icon-icon-fly:before { content: '\e80d'; } /* '' */
.icon-icon-rub:before { content: '\e80e'; } /* '' */
.icon-icon-stat:before { content: '\e80f'; } /* '' */
.icon-icon-circle:before { content: '\e810'; } /* '' */
.icon-icon-fb:before { content: '\e811'; } /* '' */
.icon-icon-copy:before { content: '\e812'; } /* '' */
.icon-icon-zavod:before { content: '\e813'; } /* '' */
.icon-icon-house:before { content: '\e814'; } /* '' */
